header {
  background-color: #393e46;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1em;
  height: 18vh;
  align-items: center;
  padding: 0 1em;
}
header > h1 {
  margin: 0;
  color: azure;
}
header > form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}
header > form > input,
button {
  border: 0.05em #00adb5 solid;
  border-radius: 0.15em;
}
header > form > input {
  background-color: #ececec;
  height: 3em;
}

header > form > button {
  background-color: #00adb5;
  font-weight: bold;
  font-size: large;
}
main {
  height: 82vh;
  background-color: #eeeeee;
}

@media screen and (min-width: 480px) {
    header {
      height: 10vh;
    }
    main {
        height: 90vh;
    }
  }
  