/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}